<nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
    <div class="container-fluid">
        <div class="d-flex align-items-center"><a class="navbar-brand py-1" href="index.html"> Housing </a>
            <form class="form-inline d-none d-sm-flex" action="#" id="search">
                <div class="input-label-absolute input-label-absolute-left input-expand ms-lg-2 ms-xl-3">
                    <label class="label-absolute" for="search_search"><i class="fa fa-search"></i><span
                            class="sr-only">What are you looking for?</span></label>
                    <input class="form-control form-control-sm border-1 shadow-0 bg-gray-200" id="search_search"
                        placeholder="Search" aria-label="Search" type="search">
                </div>
            </form>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="form-inline mt-4 mb-2 d-sm-none" action="#" id="searchcollapsed">
                <div class="input-label-absolute input-label-absolute-left w-100">
                    <label class="label-absolute" for="searchcollapsed_search"><i class="fa fa-search"></i><span
                            class="sr-only">What are you looking for?</span></label>
                    <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200"
                        id="searchcollapsed_search" placeholder="Search" aria-label="Search" type="search">
                </div>
            </form>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active">Home</a></li>
                <li class="nav-item"><a class="nav-link">Buy</a> </li>
                <li class="nav-item"><a class="nav-link">Rent</a> </li>
                <li class="nav-item"><a class="nav-link">Sign in</a></li>
                <li class="nav-item"><a class="nav-link">Sign up</a></li>
                <li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-lg-none d-xl-inline-block"><a class="btn btn-primary"
                        href="#">Add a listing</a></li>
            </ul>
        </div>
    </div>
</nav>