#liveAlertPlaceholder {
    bottom: 10%;
    position: absolute;
    right: 0;
}
.navbar  {
    padding:20px
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color:#7221cf!important;
    font-weight:600;
}
.navbar-expand-lg .navbar-nav {
    margin-left:50px;
}
.free-tag {
    background: #FF385C;
    padding: 0px 5px;
    color: #fff;
}
.navbar-nav.float-left .nav-item {
    padding:0px 10px;
}