<div class="post">
    <div class="post-img-content">
        <img *ngIf="property.img" src="assets/images/{{property.img}}" class="img-responsive w-100" />
        <img *ngIf="!property.img" src="assets/images/default-image.jpg" class="img-responsive w-100" />
        <span class="post-title"><b>{{property.title}}</b><br />
            <b>{{property.type}}</b></span>
    </div>
    <div class="content">
        <div class="author">
            By <b>shekhar</b> |
            <time datetime="2014-01-20">August 8th, 2012</time>
        </div>
        <p>
            {{property.description}}  
        </p>
        <div>
            <a routerLink="/property-detail/{{property.id}}" class="btn btn-warning btn-sm">Read more</a>
        </div>
    </div>
</div>