<!-- <p style="padding-top:250px">property-detail works! {{propertyId}}</p>

<button (click)="gotoNext()" class="btn btn-primary">Select Next Page</button>

<button routerLink="/property-detail/2" class="btn btn-primary">2</button>
<button routerLink="/property-detail/3" class="btn btn-primary">3</button>
<button routerLink="/property-detail/4" class="btn btn-primary">4</button>
<button routerLink="/property-detail/5" class="btn btn-primary">5</button> -->


<div class="container mar-top100" >
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-img-wrapper">
          <img *ngIf="property?.Image" class="card-img-top" src="assets/images/{{property?.Image}}"/> 
          <img *ngIf="!property?.Image" class="card-img-top" src="assets/images/default-image.jpg"/> 
        </div>
        <div class="card-body">
          <h1 class="card-title">{{property?.Name}}</h1>
          <div>
              <strong>{{property.BHK}} BHK {{property.PType}} @ ${{property.Price}}</strong>
          </div>
          <div>
             <strong>in {{property.City}}</strong>
          </div> <hr>
          <div>
              <strong>Build Area: </strong>
              {{property.BuiltArea}} Sqft
          </div>
  
          <div>
              <strong>Carpet Area: </strong>
              {{property.carpetArea}} Sqft
          </div>
          <div>
              <strong>Furnishing Type: </strong>
              {{property.FType}}
          </div>
          <div>
              <strong>Available for: </strong>
              <span *ngIf="property.SellRent == 'buy'">Purchase</span>
              <span *ngIf="property.SellRent == 'rent'">Rent</span>
          </div>
  
      </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary">Like</button>
            <button class="btn btn-success">Message</button>
          </div>
        </div>
    </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel p-3">
        <tabset class="member-tabset">
          <tab heading="Overview">
            <h2 class="py-2 my-3">Overview</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="heading">
                        <strong>Project Name</strong>
                        <p>{{property.Name}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>Floor Number</strong>
                        <p>{{property.FloorNo}} of {{property.TotalFloor}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>Age of Property</strong>
                        <p>{{property.AOP}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>Posession</strong>
                        <p>{{property.PostedOn | date}}</p>
                    </div>
                </div>
  
                <div class="col-sm-6">
                    <div class="heading">
                        <strong>Main Entrance</strong>
                        <p>{{property.mainEntrance}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>Gated Community</strong>
                        <p *ngIf="property.gated">Yes</p>
                        <p *ngIf="!property.gated">No</p>
                    </div>
  
                    <div class="heading">
                        <strong>Security Deposit</strong>
                        <p>{{property.security}}</p>
                    </div>
                    <div class="heading">
                        <strong>Maintenance</strong>
                        <p>{{property.maintenance}}</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="heading">
                        <strong>About Property</strong>
                        <p>{{property?.Description}}</p>
                    </div>
                </div>
              </div>
          </tab>
          <tab heading="Address">
            <div class="col-sm-12">
           <h2 class="py-2 my-3">Address</h2>
              <div class="heading">
                  <strong>{{property.Address}}</strong><br/>
                  <strong>{{property.Address2}}</strong><br/>
                  <strong>{{property.City}}</strong>
              </div>
          </div>
  
          </tab>
          <tab heading="Photos">
            <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> -->
          </tab>
          <tab heading="Contact">
            <h2 class="py-2 my-3">Contact Detail</h2>
          
            This should be restricted area and only registered user should be able to see seller contact details
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>