/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    box-sizing: border-box;
  }
.mar-top100 {
    margin-top: 100px;
}
.mar-top200 {
    margin-top: 200px;
}
body, .navbar  {
    background:#f5f7fb !important;
}

.error-block {
    color: red;
    font-size:12px;
    display: block;
}
.color-primary {
    color:#7221cf!important;
}
.pink-btn {
    background-color: #FF385C;
}
.btn {
    border-radius: 2px;
    
}
.btn-primary {
    background-color:#5a47d9  !important;   
}

label {
    margin-bottom:5px;
    margin-top:5px;
}
.mr-10 {
    margin-right:10px;
}
.nav-link {
    color:#333
}